{% extends "base.html" %}
{% block content %}
    <script src="https://www.paypal.com/sdk/js?client-id=Acre92V9RHFmVe3lxfe6WKfTEBOyfEqqst_bWERdQkCMwsH7zP_hy7FQ_5vTd18U9jAro-2s7uA2eUxs"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
    </script>
    <h3 class="title">Precio total del pedido: {{ pedido.get_total }}</h3>
    <div class="block" id="paypal-button-container"></div>
    <!--Esto se agrego para testear que pasaria si se completa el pago-->
    <a href="{% url 'complete-payment' %}">Completar pago de prueba</a>
    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>
      var total = {{ pedido.get_total }}
      var complete_payment_url = {% url 'complete-payment' %}
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: `${total}`
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            window.location.href = `${complete_payment_url}`;
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>
{% endblock %}